.footer-area
    background-color: transparent
    a, .copyright-area p
        color: #1C1C1C !important

    .custom-row
        border-top: 1px solid rgba(#1C1C1C, .2)

.hero-company
    &-boxes
        flex-wrap: wrap
        padding: 0
        border: none

    &-box
        width: 28%
        background-color: #E7EDFB
        text-align: center
        h3 
            opacity: .75

        @media screen and (max-width: 912px)
            width: calc( 50% - 12px )

        @media screen and (max-width: 600px)
            width: 100%

.header-area
    position: absolute
    .navbar-wrapper ul
        li.dropdown-menu-item a,
        li.mega-menu-item a
            display: block
            padding: 0 10px

            &::after
                display: none

.cta-area .cta-body h2
    font-size: 60px
    max-width: 680px
    margin: 0 auto
    margin-bottom: 40px
    @media screen and (max-width: 1700px)
        font-size: 50px
    @media screen and (max-width: 585px)
        font-size: 30px
        padding: 0 10px

.quick
    &-wrap
        padding: 50px 0 
        flex-wrap: wrap
        gap: 40px

    &__link
        text-align: center
        min-width: 20%
        font-size: 26px
        color: #000
        color: var(--primary_color)
        &:hover
            color: var(--primary_color)
            text-decoration: underline !important

    @media screen and ( max-width: 800px )
        &-wrap
            gap: 25px

        h2
            width: 100%
            margin: 0 0 10px

        &__link
            font-size: 20px
